@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2D4290;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    background-image: url("img/Ellipse-background.png");
    background-size: 100%;
}
header{
    padding: 0 10rem;
    box-shadow: black 5px 5px 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul .menu-logo{
    margin-left: auto;
}


/* ---------------------- HERO ---------------------- */
.container-hero{
    padding: 5rem 10rem;
}
h1{
    max-width: 30vw;
}
.hero-img-box{
    display: flex;
    justify-content: center;
}
.hero-img{
    max-width: 100%;
}


/* ---------------------- MAIN ---------------------- */
.container{
    padding: 5rem 10rem 0; 
    display: flex;
    
    align-items: center;
}

.container-box{
    text-align: justify;
    
}
.container-img{
    min-width: 50%;
    display: flex;
    justify-content: center;
}


h2{
    font-size: 2.5rem;
}
p{
    font-size: 1.5rem;
    padding: 1rem 0;
}
.saiba-mais-img{
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

/* ---------------------- FOOTER ---------------------- */

.mapa-site{
    background-color: #3C509A;
    padding: 3rem 10rem;
    display: flex;
    justify-content: space-between;
}
.mapa-site ul{
    list-style-type: none;
}


/* ---------------------- DEVELOPER ---------------------- */
.desenvolvedor{
    background-color: #59C363;
    padding: 2rem 10rem;
    text-align: center;
}
.desenvolvedor a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}


/* ---------------------- MEDIA QUERY ---------------------- */
@media only screen and (max-width: 1300px) {
    header{
        padding: 0 5rem;
    }
    .container-hero{
        padding: 5rem 5rem;
    }
    .container{
        padding: 5rem 5rem; 
        
    }
    
}

@media only screen and (max-width: 900px) {
    .container-hero{
        padding: 5rem 1rem;
    }
    header{
        padding: 0 1rem;
    }
    h1{
        max-width: 95vw;
        font-size: 2rem;
    }
    .container{
        padding: 1rem 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-img{
        padding: 0 0 2rem;
    }
    .invert{
        flex-wrap: wrap-reverse;
    }
    .mapa-site{
        padding: 1rem 1rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .desenvolvedor{
        padding: 1rem 1rem;
        text-align: center;
    }
    .desenvolvedor a{
        font-size: 1rem;
    }
}

